.background-container {
  display: flex;
  position: relative;
  text-align: center;
}

.background-text {
  position: relative;
  max-width: 700px;
  color: rgba(45, 132, 76, 1);
  font-size: 100px;
  font-style: italic;
  top: 10%;
  bottom: 10%;
  left: 50%;
}



/* .background-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 10px;
} */
