.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(45, 132, 76, 0.8);
  width: auto;
  padding: 20px;
  top: 0;
  left: 0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  z-index: 20;
}

.button-navbar {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: large;
  margin-left: 24px;
  text-decoration: dashed;
  cursor: pointer;
}

.button-navbar:hover {
  color: #fff;
}

.cart-container {
  border-radius: 100%;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.cart-container:hover {
  background-color: rgba(65, 125, 86, 0.8);
}

.cart-icon {
  padding: 10px;
  height: fit-content;
  width: fit-content;
}
